h1 {
  border: solid 5px brown;
}

div {
  margin: 2px 3px 5px;
  margin-top: 5px;
  padding-top: 5px;
  height: 500px;
  width: 300px;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(150, 96, 4);
  /* border shorthand */
  border: solid green 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}
