<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dice_Numbers</title>
  </head>
  <body>
    <h1>The dice gave the answer : <%= Dice_value %></h1>
    <% if(Dice_value==6) {%>
        <h3>Nice! Roll again :</h3>
    <% } %>
  </body>
</html>
