<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Embeded JS</title>
  </head>
  <body>
    <!-- from this file we can write html and js code here and the code will be rendered on index.js -->
    <!-- <h1>Hello guys</h1>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum praesentium
      reprehenderit amet possimus, non consequuntur similique veniam natus,
      cupiditate in tenetur asperiores, aspernatur nulla deleniti officia
      obcaecati vel exercitationem! Placeat?
    </p>
    <button>click here</button> -->
    <!-- below we will use html tag dynaically  -->
    <h1><%= 1 + 2 %></h1>
  </body>
</html>
